@model WebAnime.Models.TbTheLoai
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateTLAnime";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>CreateTLAnime</h1>

<h4>TbTheLoai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateTLAnime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="MaTl" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label"></label>
                <input asp-for="TheLoai" class="form-control" />
                <span asp-validation-for="TheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThongTin" class="control-label"></label>
                <input asp-for="ThongTin" class="form-control" />
                <span asp-validation-for="ThongTin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

