@model IEnumerable<TbTheLoai>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@foreach(var item in Model)
{
    <li><a asp-action="AnimeToTheLoai" asp-controller="home" asp-route-theloai="@item.TheLoai">@item.TheLoai</a></li>
}

