@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebAnime.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbTheLoai>
@{
    ViewData["Title"] = "TLAnime";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>TLAnime</h1>

<p>
    <a asp-action="CreateTLAnime" asp-controller="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Thể Loại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TheLoai)
                </td>
                <td>
                    <a asp-controller="edit" asp-action="editTLAnime" asp-route-ma="@item.MaTl">Edit</a>
                    <a asp-action="deleteTLAnime" asp-controller="delete" asp-route-ma="@item.MaTl">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model,page=>Url.Action("TLAnime",new {page=page}),new
    X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    }
)