@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TbNguoiDung
@{
    ViewData["Title"] = "DangKy";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="signup spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Sign Up</h3>
                    @using (Html.BeginForm("DangKy", "HomeAccess", FormMethod.Post)){
                        <div class="input__item">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-lg", placeholder = "Email Address", required = "required", autofocus = "autofocus", type = "email", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$" })
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            @Html.TextBoxFor(x=>x.TenNguoiDung, new {@class="form-control form-control-lg",type="text",placeholder="Tên Người Dùng",required = "required"})
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            @Html.TextBoxFor(x=>x.Pasword, new {@class="form-control form-control-lg",type="password",placeholder="Password"})
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Login Now</button>
                    }
                    <h5>Already have an account? <a href="#">Log In!</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>